.side-wrapper
  .side-header
    .side-header-icon
      %a.nav-link.active{:href => "/"}
        %i.material-icons edit
    .side-header-title
      = link_to "School Management", '/'
      %br
      -# = link_to "System", datatable_testpage_index_path
      -# = link_to "新規投稿", 'sms_p/new'
  .side-nav
    .side-nav__contents
      = render "side-nav__contents"
.main-wrapper
  .main-header
    %form
      %input.main-header__search-field{:type => "text", placeholder: "Search for student data"}/
    .icons
      -# .icons__icon
      -#   .icons__icon--trash
      -#     %i.fas.fa-trash
      .icons__icon
        .icons__icon--cog
          %i.fas.fa-cog
  .right-content
    .data-tables
      -# .data-table
      -#   .data-table__text
-# 以下プロフィールエディットページ
      .item1-pic
      -#   .pic
      -#   .name
      -#   .numclass
      -#   %u.wrapper
      -#     %l.attendance
      -#     %l.achieve
      .item2-detail-upper
      -#   .card-header
      -#     .card-header__title
      -#   %l.list-item-group
      -#     .name-group

      .item3-comment
      -#   %form
      -#   %input.interview{:type => "text", placeholder: "Interview Transcript"}/

      .item4-detail-bottom
      -#   .others







      .date-table-bottom
        =render "edit-profile-student"